.memory__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 104rem;
  min-height: 100vh;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem 1.5rem;
}

.cards-table__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
}

.cards-table__finish__overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 55, 206, 0.918);
  z-index: 3;
  opacity: 0;
  animation: overlayAppearing 3s ease-in-out forwards;
}

@keyframes overlayAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}