.card {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  transform-style: preserve-3d;
  perspective: 50rem;
  transition: transform .3s ease;

  &.active,
  &.picked {
    transform: rotateY(180deg);

    .card__back {
      img {
        opacity: 1;
      }
    }
  }

  &.active {
    pointer-events: none;
  }

  .card__back {
    img {
      opacity: 0;
    }
  }
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
}

.card__front {
  border: 1.5rem solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(-180deg);
  padding: 2rem 1.5rem;

  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}